.dashboard-wrapper{
    background: #F6F9FF;
    padding: 3.5rem 2rem;
    min-height: 100vh;
}


@media (max-width:768px){
    .dashboard-wrapper{
        
        padding: 3.5rem 1rem;
       
    }

}